.updateContainer{
    background-color: antiquewhite;
    padding: 50px !important;
}
.updateCoffeForm{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 40px;
}
.updateCoffeForm input{
    outline: none;
    border: none;
}